doctype html
html#htmlTag
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  head
    title Users Info
    meta(charset='utf-8')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:500')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto+Condensed:700')

    

  body
    block scripts
      script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
      script.
        $(document).ready(function () {
          //docuemnt ready
          });
    block users
    block error
